<br>
<form [formGroup]="form" (ngSubmit)="createContact()">
    <div class="form-group">
        <div class="input-group">          
            <input type="text" class="form-control"  formControlName="firstName" placeholder="First Name">
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="input-group">            
            <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name">
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="input-group">            
            <input type="text" class="form-control" formControlName="company" placeholder="Company Name">
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="input-group">            
            <input type="text" class="form-control" formControlName="email" placeholder="Email">
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="input-group">            
            <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Phone Number">
        </div>
    </div>
    <br>
    <div class="form-group">
       <button class="btn btn-success btn-lg w-100" [disabled]="form.invalid" type="submit"><i class="fas fa-database"></i> Submit</button>
    </div>
    <br>
</form>
