<div class="jumbtrom">
    <div class="row">
        <div class="col-md-5 display-6 text-center">  
            <a href="http://localhost:61236/swagger/index.html" target="_blank"> Test Api Endpoints in Swagger</a>                      
        </div>
        <div class="col-md-1 text-center">
            <h1 class="display-4 text-center">Or</h1>
        </div>
        <div class="col-md-5">
            <h1 class="display-4 text-center"> <strong>Contacts CRUD</strong> </h1>
        </div>
    </div>
   
   
    <div class="row" style="margin-top: 5%;">
        <div class="col-md-5">            
            <h6 class="text-center">
                Agregar Contacto
            </h6>            
            <app-contacts-update></app-contacts-update>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h6 class="text-center">
                Listar Contactos
            </h6>
            <app-contacts-list></app-contacts-list>
        </div>
    </div>
</div>